.office-layout {
    position: relative;
    width:  980px;
    height: 1320px;
    background: url(resources/office_layout.png) no-repeat;
}

.censor-attributes {
    position: absolute;
    width: 130px;
    height: 140px;
    transform: scale(0.3);
}

.censor1 {
    left: 860px;
    top: -51px;
}

.censor2 {
    left: 550px;
    top: 356px;
}

.censor3 {
    left: 893px;
    top: 356px;
}

.active-sensor {
    background: url(resources/green_sensor.png);
}

.inactive-sensor {
    background: url(resources/red_sensor.png);
}

.offline-sensor {
    background: url(resources/gray_sensor.png);
}

